#appBody {
  background-color: transparent;
  background: none;
}

.borda-bottom {
  border-bottom-color: black;
}

.sombra-texto {
  text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}

.container-senha-atual {
  background-color: rgba(255, 255, 255, 0.8);
}

.container-senhas-anteriores {
  background-color: rgba(255, 255, 255, 0.8);
}
