// Gerais
#appBody {
  background: rgb(223, 255, 255);
  background: linear-gradient(311deg, rgba(223, 255, 255, 1) 0%, rgba(138, 229, 255, 1) 100%);
}

.sombra-texto {
  text-shadow: 2px 2px 10px #fff, -2px -2px 10px #fff;
}

// ------------------------------

.container-senha-atual {
  background-color: rgba(180, 180, 180, 0.5);
}

.container-senhas-anteriores {
  background-color: rgba(180, 180, 180, 0.5);
}