@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.bg-cinza_claro {
  background-color: #c9c9c9 !important;
}

.borda-cinza_clara {
  border-color: #c9c9c9;
}

#appBody {
  background-size: cover;
  width: 100vw !important;
  height: 100vh !important;
}

body {
  font-family: "Roboto", sans-serif !important;
  color: #14181c;
  margin: 0;
  background-repeat: no-repeat;
  background-size: auto;
}

.colorPicker {
  height: 40px;
  width: 90px;
  cursor: pointer;
}

#containerTelao {
  height: calc(100vh - 150px);
}

.modal-senha__conteudo {
  background-color: #ccc !important;
}

.modal-senha__nome-paciente,
.modal-senha__local {
  font-weight: bold;
  font-size: 100px;
  border-radius: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.modal-senha__nome-paciente {
  color: #000;
}

.modal-senha__local {
  color: #143a8c;
}

.modal-senha__espacador-topo {
  margin-top: 100px;
}

.modal-senha__piscar-borda {
  border: 30px solid #64c8ff;
  animation-name: kf_piscarBorda;
  animation-duration: 1s;
  animation-iteration-count: 100;
  border-radius: 4px;
}

@keyframes kf_piscarBorda {
  50% {
    border-color: blue;
    border-radius: 4px;
  }
}

.modal-senha__titulos {
  color: #000;
  font-weight: bold;
  font-size: 90px;
}

.midia__tamanho-midia-local {
  width: 88%;
  min-width: 88%;
  max-width: 88%;
  height: calc($largura / 1.777);
  min-height: calc($largura / 1.777);
  max-height: calc($largura / 1.777);
}

.midia__tamanho-midia-captura {
  width: 68%;
  min-width: 68%;
  max-width: 68%;
  height: calc($largura / 1.777);
  min-height: calc($largura / 1.777);
  max-height: calc($largura / 1.777);
}

#divIframeMidiaStreaming {
  height: 70vh;
  width: 100%;
  align-content: center;
}

#divIframeMidiaStreaming > iframe {
  width: 95% !important;
  min-width: 95% !important;
  max-width: 95% !important;
  height: 95% !important;
  min-height: 95% !important;
  max-height: 95% !important;
}

.noticia__espaco-direita {
  margin-right: 150px;
}

.previewCoresCustomFundo {
  background-color: #000;
  color: #FFF;
  font-size: 22pt;
  height: 200px;
  width: 600px;
}

.previewCoresCustomContainer {
  background-color: #9b0000;
  height: 150px;
  width: 200px;
}

.semSelecao {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
}

ul {
  list-style: none;
}

.container-senha-atual {
  font-size: 28pt;
  font-weight: bold;
}

.container-senhas-anteriores {
  font-size: 28pt;
}

.container-senhas-anteriores__senha {
  font-size: 28pt;
  font-weight: bold;
}

.container-senhas-anteriores__local {
  font-size: 28pt;
}

@media only screen and (max-width: 1400px) {
  .container-senha-atual {
    font-size: 24pt;
    font-weight: bold;
  }
  .container-senhas-anteriores {
    font-size: 22pt;
  }
  .container-senhas-anteriores__senha {
    font-size: 20pt;
    font-weight: bold;
  }
  .container-senhas-anteriores__local {
    font-size: 18pt;
  }
  .midia__tamanho-midia-local {
    width: 88%;
    min-width: 88%;
    max-width: 88%;
    height: calc($largura / 1.777);
    min-height: calc($largura / 1.777);
    max-height: calc($largura / 1.777);
  }
  .midia__tamanho-midia-captura {
    width: 68%;
    min-width: 68%;
    max-width: 68%;
    height: calc($largura / 1.777);
    min-height: calc($largura / 1.777);
    max-height: calc($largura / 1.777);
  }
  #divIframeMidiaStreaming {
    height: 60vh;
    width: 90%;
    align-content: center;
  }
  #divIframeMidiaStreaming > iframe {
    width: 80% !important !important;
    min-width: 80% !important !important;
    max-width: 80% !important !important;
    height: 50% !important !important;
    min-height: 50% !important !important;
    max-height: 50% !important !important;
  }
}
