#appBody {
  background: #dfffff;
  background: linear-gradient(311deg, #dfffff 0%, #8ae5ff 100%);
}

.sombra-texto {
  text-shadow: 2px 2px 10px #fff, -2px -2px 10px #fff;
}

.container-senha-atual {
  background-color: rgba(180, 180, 180, 0.5);
}

.container-senhas-anteriores {
  background-color: rgba(180, 180, 180, 0.5);
}
